<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import { ref } from 'vue';

const tab = ref(null);
</script>

<template>
  <v-card>
    <v-tabs v-model="tab" bg-color="primary">
      <v-tab value="one">Item One</v-tab>
      <v-tab value="two">Item Two</v-tab>
      <v-tab value="three">Item Three</v-tab>
    </v-tabs>

    <v-card-text>
      <v-window v-model="tab">
        <v-window-item value="one">
          <v-container fluid>
            <v-row>
              <v-col class="text-center" cols="12" md="4">
                <router-link to="/about">
                  <div>
                    <div class="poster">
                      <div class="mx-auto">
                        <v-img cover src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"></v-img>
                      </div>
                    </div>
                    <div class="info">
                      <p>
                        <span class="text">วันที่เข้าฉาย : </span>
                        <span class="date">2024-02-22</span>
                      </p>
                      <h1 class="name">P'Pond Beautiful picture</h1>
                    </div>
                  </div>
                </router-link>
              </v-col>
              <v-col class="text-center" cols="12" md="4">
                <router-link to="/about">
                  <div>
                    <div class="poster">
                      <div class="mx-auto">
                        <v-img cover src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"></v-img>
                      </div>
                    </div>
                    <div class="info">
                      <p>
                        <span class="text">วันที่เข้าฉาย : </span>
                        <span class="date">2024-02-22</span>
                      </p>
                      <h1 class="name">P'Aun Beautiful picture</h1>
                    </div>
                  </div>
                </router-link>
              </v-col>
              <v-col class="text-center" cols="12" md="4">
                <router-link to="/about">
                  <div>
                    <div class="poster">
                      <div class="mx-auto">
                        <v-img cover src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"></v-img>
                      </div>
                    </div>
                    <div class="info">
                      <p>
                        <span class="text">วันที่เข้าฉาย : </span>
                        <span class="date">2024-02-22</span>
                      </p>
                      <h1 class="name">P'Pond Beautiful picture</h1>
                    </div>
                  </div>
                </router-link>
              </v-col>
            </v-row>
          </v-container>
        </v-window-item>

        <v-window-item value="two">
          Two
        </v-window-item>

        <v-window-item value="three">
          Three
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<style scoped></style>
