<script setup lang="ts">
</script>
<template>
    <div class="box-movie-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="detail-box clearfix">
                    <div class="poster-land visible-xs"
                        style="background-image: url(&quot;https://lh3.googleusercontent.com/k1SpX5GoSoYKDYwdStoE070-XRTxl_ri2vn44QbnbbYVYPmK-ZMy3TIix_TFcVY3GqNycdESGQuRG1TDafr1nRwnzHjKls0BPA=w400-fSoften=0,10,0&quot;);">
                    </div>
                    <div class="poster"><img
                            src="https://lh3.googleusercontent.com/Ognuk3kdECvbXlFmWaqP8KGnAdrHsmOLOiHltBv7ivsoiQhM6nxqSG96WsNmBTKMgKsTyaBY9ER19waidv00nwygvpguO8Zq1g=w260">
                    </div>
                    <div class="movie-detail">
                        <div class="main-detail">
                            <h1 class="name">มาสค์ไรเดอร์ ไฟซ์ ภาค สงครามทวงคืนสวรรค์</h1><!---->
                        </div>
                        <p class="genre">หมวดหมู่: Action, Drama, Sci - Fi</p>
                        <ul class="movie-detail-list">
                            <li class="list-item">เรทผู้ชม: G</li>
                            <li class="list-item"><svg viewBox="0 0 126.89 126.89" class="sf-icon clock">
                                    <defs></defs>
                                    <title>Length</title>
                                    <circle cx="63.44" cy="63.44" r="59.44" class="cls-1"></circle>
                                    <circle cx="63.44" cy="63.44" r="4.49" class="cls-2"></circle>
                                    <line x1="63.44" y1="14.5" x2="63.44" y2="20.84" class="cls-3"></line>
                                    <line x1="15" y1="63.94" x2="20.34" y2="63.94" class="cls-3"></line>
                                    <line x1="63.44" y1="112.39" x2="63.44" y2="107.05" class="cls-3"></line>
                                    <line x1="111.89" y1="63.94" x2="106.55" y2="63.94" class="cls-3"></line>
                                    <line x1="63.44" y1="36.53" x2="63.44" y2="56.36" class="cls-4"></line>
                                    <line x1="68.64" y1="68.64" x2="84.25" y2="84.25" class="cls-4"></line>
                                </svg> 65 นาที
                            </li>
                        </ul><a href="/movie/Masked-Rider-Faiz-20th-Paradise-Regained.HO00001945"
                            class="button button-gray-trans button-movie-details" target="">รายละเอียดภาพยนตร์</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></template>
<style scoped></style>