<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import { ref } from 'vue';

const tab = ref(null);
</script>

<template>
  <v-layout class="rounded rounded-md">
    <v-app>
      <v-app-bar fixed>
        <v-tabs v-model="tab" bg-color="primary">
          <v-tab value="one">Item One</v-tab>
          <v-tab value="two">Item Two</v-tab>
          <v-tab value="three">Item Three</v-tab>
          <v-tab value="four">Item Four</v-tab>
        </v-tabs>
      </v-app-bar>

      <v-main>
        <v-card>
          <v-card-text>
            <v-window v-model="tab">
              <v-main value="one">
                One
              </v-main>

              <v-window-item value="two">
                Two
              </v-window-item>

              <v-window-item value="three">
                Three
              </v-window-item>
            </v-window>
          </v-card-text>
        </v-card>
      </v-main>
    </v-app>
  </v-layout>
</template>



<style scoped></style>
